# ----- LCD -----
LCD_I2C_ADDRESS=0x27
LCD_COLS=16
LCD_ROWS=2

# ----- GPIO (BCM) -----
LED_RED=17
LED_BLUE=27
BUZZER_PIN=18
RC522_RST=25

# ----- API -----
API_BASE_URL=http://api:8000

LCD_IDLE_TEXT=Tap card ID
LCD_SUCCESS_TEXT=Updated successfully
